importlib-metadata==4.8.1; python_version < "3.8"
pydantic==1.10.1; python_full_version >= "3.6.1"
redis==3.5.3; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
typing-extensions==3.10.0.2; python_version >= "3.6" and python_version < "3.8" and python_full_version >= "3.6.1"
walrus==0.8.2
zipp==3.6.0; python_version >= "3.6" and python_version < "3.8"
